<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles.css">
    <script src="https://kit.fontawesome.com/fcc1b3e424.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <title>MyURLShortener</title>
</head>

<body>
    <div class="container">
        <header>
            <div class="logo">
                <i class="fa-solid fa-link fa-3x desktop-icon"></i>
                <i class="fa-solid fa-link fa-2x mobile-icon"></i>
                <h1>MyURLShortener</h1>
            </div>
        </header>
        <main>
            <h1>Shorten your <span>looooong</span> URLs like never before!</h1>
            <p>Copy your boring url. Paste it below. then boooom ! You got it, right?</p>
            <div class="content">
                <form>
                    <label for="long-url">Your long URL</label>
                    <div class="inputs">
                        <input type="url" placeholder="https://yourwebsite-exemple.com" id="long-url">
                        <input type="submit" value="Shorten URL">
                    </div>
                </form>
            </div>
            <p>Node JS Powered URL Shortener</p>
        </main>
        <footer>
            <div class="left">
                <i class="fa-solid fa-link fa-2x"></i>
                <h1>MyURLShortener</h1>
            </div>
            <div class="mid">
                <h1>Developed By: <span>Ahmed</span> <span>Gouasmia</span></h1>
            </div>
            <div class="right">
                <a href="https://github.com/SilverBullet19"><i class="fa-brands fa-github fa-2x"></i></a>
                <a href="https://www.linkedin.com/in/ahmed-gouasmia-59baa1245/"><i class="fa-brands fa-linkedin fa-2x"></i></a>
            </div>
        </footer>
    </div>
    <script src="./main.js"></script>
</body>

</html>